// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'bootstrap-icons';

.font-size-normal {
    font-size: 1em !important;
}

.btn.btn-pill {
    border-radius: $rounded-pill;
}

.link-muted {
    color: inherit;

    &:hover,
    &.active {
        color: $link-color;
        text-decoration: none;
    }

    &.active {
        font-weight: bolder;
    }
}

.cover {
    object-fit: cover;
}

// Create spacing utilities
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        @each $modifier, $spacing in $spacers {
            .#{'spacing' + $infix + '-' + $modifier} > :not(:last-child) {
                margin-bottom: $spacing;
            }
        }
    }
}

// Gray color utilities
@each $shade, $hex in $grays {
    .#{'bg-gray-' + $shade} {
        background-color: $hex;
    }
    .#{'text-gray-' + $shade} {
        color: $hex;
    }
    .#{'border-gray-' + $shade} {
        border-color: $hex;
    }
}

// Color utilities
@each $color, $hex in $colors {
    .#{'bg-' + $color} {
        background-color: $hex;
    }
    .#{'text-' + $color} {
        color: $hex;
    }
    .#{'border-' + $color} {
        border-color: $hex;
    }
}

.trix-wrapper:focus {
    outline: none;

    .form-control {
        @extend .form-control, :focus;
    }
}

.trix-active {
    @extend .active;
}

.border-placeholder {
    border-width: 2px;
    border-style: dashed;
    border-color: $gray-300;
}

.btn.border-placeholder:hover {
    border-color: color('blue');
}

.tribute-container {
    > ul {
        @extend .m-0;
        @extend .p-0;
    }
    .dropdown-item {
        cursor: pointer;
        &.hover {
            @extend .dropdown-item, :hover;
        }
    }
}
trix-editor .attachment--content {
    display: inline-block;

    .attachment__caption,
    .attachment__toolbar {
        display: none;
    }
}

.mention {
    @extend .bg-gray-300;
    @extend .rounded;
    @extend .px-2;
}
