// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import 'bootstrap-icons';

@import "utilities";

@import 'algolia-places';

@import "stripe";

@import "trix-editor";

@import 'vue-multiselect';

.cover {
    object-fit: cover;
}

.border-placeholder {
    border-width: 2px;
    border-style: dashed;
    border-color: $gray-300;
}

.btn.border-placeholder:hover {
    border-color: color('blue');
}

.input-group-expanding {
    position: relative;
    min-width: 2.25rem;
    width: 0%;
    height: 2.25rem;
    transition: width .25s;
    border-radius: .25rem;

    &.open {
        width: 100%;
    }

    &:not(.open) {
        overflow: hidden;

        .btn {
            width: 2.25rem;
        }
    }

    .form-control,
    .btn {
        position: absolute;
        top: 0;
        right: 0;
    }

    .form-control {
        height: 2.25rem;
        padding-right: 2.25rem + .5rem;
    }

    .btn {
        display: flex;
        align-items: center;
        height: 2.25rem;
        line-height: 1;
        z-index: 4;
    }
}

#forumSidebar {
    @include media-breakpoint-up(sm) {
        min-width: 200px;
        max-width: 280px;
    }

    #forumSearchbar {
        .input-group-expanding {
            border-radius: 50rem;

            .form-control, .btn {
                border-radius: 50rem;
            }

            .btn {
                width: 2.25rem;

                svg {
                    transform: scale(1.5);
                }
            }

            @include media-breakpoint-up(sm) {
                width: 100%;

                &, .form-control {
                    border-radius: .25rem;
                }

                .btn {
                    border-radius: 0 .25rem .25rem 0;
                }
            }
        }
    }
}

.pricing-card {
    transition: $transition-base;
    &:hover {
        transform: scale(1.05);
    }
}

.embedded-avatar-upload-btn {
    transition: all ease-in-out .15s;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 25%;
    display: block;
    margin-bottom: 0;
    border: 0;
    color: $white;
    background-color: rgba($dark, .4);
    text-align: center;
    cursor: pointer;

    &:hover, &:focus {
        background-color: rgba($dark, .6);
        outline: none;
    }

    input[type=file] {
        position: fixed;
        top: -100em;
    }
}
.embed-responsive:hover .embedded-avatar-upload-btn {
    opacity: 1;
}

.kustomer-feedback-component {
    z-index: 1;

    .kustomer-popup .kustomer-header h1 {
        white-space: normal !important;
    }
}
